body
{
	background-color: white;
	font-family: 'Open Sans', sans-serif;
}

#container
{
	width: 800px;
	margin-left:auto;
	margin-right:auto;
}

#chart_div
{
	position: relative;
	bottom: 132px;	
}

#chart_div2
{
	position: relative;
	bottom: 132px;	
}

.title
{
	position:relative;
	margin-left:100px;
	margin-top:12px;
	font-weight:700;
	color:#04375C;
	text-shadow: 0px 2px 2px rgba(255, 255, 255, 1);
}

.interiorDbt
{
	position:relative;
	text-align:center;
	top:5px;
	font-weight:900;
	font-size:33px;
	color:#04375C;
	font-family: 'Raleway', sans-serif;
	text-shadow: 0px 2px 1px rgba(255, 255, 255, 1);
	z-index:2;
}

.text1
{
	text-align: right;
	height:30px;
	font-size:30px;
	font-weight:700;
	font-family: 'Ubuntu', sans-serif;
	color:#1182A8;
} 


.text2
{
	position:relative;
	float:right;
	text-align: right;
	font-size:50px;
	font-weight:700;
	color:#04375C;
	top:-10px;
	font-family: 'Open Sans', sans-serif;
} 

.text3
{
	position:relative;
	font-size:17px;
	text-align: right;
	clear: both;
	font-weight:700;
	bottom:8px;
	color:#0F6B8A;	
} 

.container2
{
	position:relative;
	width: 300px;
	height: 100px;
	left:470px;
    top: 0px;
}


.table
{
	width: 800px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 50px;
}

.dtborder1 
{
   color: #000;
   font-size:20px;
   position:relative;
   border:1px solid #80B3D5;
   height:60px;
   width:800px;
   background-color:#DAEEFC;
}

.dtborder2 
{
   color: #000;
   font-size:20px;
   position:relative; 
   margin-top:-10px;
   border:1px solid #80B3D5;
   height:300px;
   width:800px;
   background-color:#ffffff;
}


.myButton 
{
	position: relative;
	font-family: 'Lato', sans-serif;
	-moz-box-shadow: 0px 3px 5px 2px #bac3cc;
	-webkit-box-shadow: 0px 3px 5px 2px #bac3cc;
	box-shadow: 0px 3px 5px 2px #bac3cc;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #52e5ff), color-stop(1, #397b8f));
	background:-moz-linear-gradient(top, #52e5ff 5%, #397b8f 100%);
	background:-webkit-linear-gradient(top, #52e5ff 5%, #397b8f 100%);
	background:-o-linear-gradient(top, #52e5ff 5%, #397b8f 100%);
	background:-ms-linear-gradient(top, #52e5ff 5%, #397b8f 100%);
	background:linear-gradient(to bottom, #52e5ff 5%, #397b8f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#52e5ff', endColorstr='#397b8f',GradientType=0);
	background-color:#b7d0e8;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:2px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:6px 20px;
	text-decoration:none;
	left:615px;
	top:230px;
	z-index:3;
	
}

.myButton:active 
{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #397b8f), color-stop(1, #52e5ff));
	background:-moz-linear-gradient(top, #397b8f 5%, #52e5ff 100%);
	background:-webkit-linear-gradient(top, #397b8f 5%, #52e5ff 100%);
	background:-o-linear-gradient(top, #397b8f 5%, #52e5ff 100%);
	background:-ms-linear-gradient(top, #397b8f 5%, #52e5ff 100%);
	background:linear-gradient(to bottom, #397b8f 5%, #52e5ff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#397b8f', endColorstr='#52e5ff',GradientType=0);
	background-color:#378de5;
}


.dtborder0 
{
   position:relative; 
   border:1px solid #999;
   height:50px;
   width:50px;
   background: #f9f9f9;
   left:20px;
   bottom:47px;
   opacity:0.9;
   border-radius: 8px;
   box-shadow: 0px 0px 5px #888888;
   z-index:1;
}

.dtborder0:after 
{
  content:"";
  position: absolute;
  top:2px;
  bottom:2px;
  left:2px;
  right:2px;
  border:1px solid #999;
  border-radius: 5px;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #d1e6f1));
  background:-moz-linear-gradient(top, #ffffff 5%, #d1e6f1 100%);
  background:-webkit-linear-gradient(top, #ffffff 5%, #d1e6f1100%);
  background:-o-linear-gradient(top, #ffffff 5%, #d1e6f1 100%);
  background:-ms-linear-gradient(top, #ffffff 5%, #d1e6f1 100%);
  background:linear-gradient(to bottom, #ffffff 5%, #d1e6f1100%);
}




